<div class="page-container">
  <h1>Ready to set sails?</h1>
  <h2>Who will command the fleets?</h2>
<form (ngSubmit)="onSubmit()" #registrationForm="ngForm">
  <mat-list>
    <mat-list-item *ngFor="let player of players; let i = index" class="player-form">
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Giocatore {{ i + 1 }}</mat-label>
        <input matInput [(ngModel)]="player.username" name="player{{ i }}" placeholder="Inserisci il nome del giocatore" required>
      </mat-form-field>
      <button mat-button *ngIf="players.length > 1" (click)="removePlayer(i)">X</button>
    </mat-list-item>
  </mat-list>

  <div class="button-container">
    <button mat-raised-button color="primary" *ngIf="players.length < 6" (click)="addPlayer()">Aggiungi giocatore</button>
    <button mat-raised-button color="primary" [disabled]="players.length < 2" type="submit">Conferma iscrizione</button>
  </div>
</form>
</div>




