<div class="page-container">
  <div class="page-center">
    <h1 class="current-player-name">
      Place your ships {{ currentPlayer.name }}!
    </h1>
    <div class="grid-area-container">
      <div class="ships-container">
        <div
          class="ship draggable"
          [ngClass]="{ 'ship-selected': selectedShip === ship }"
          [attr.data-ship-length]="ship.length"
          *ngFor="let ship of ships; let shipIndex = index"
          [id]="shipIndex"
          (click)="selectedShip = ship"
        >
          <div *ngFor="let item of ship" class="ship-slice"></div>
        </div>
      </div>
      <app-place-ships-grid></app-place-ships-grid>
      <div class="action-buttons">
        <button
          mat-raised-button
          class="action-button"
          color="primary"
          (click)="rotateShip()"
          [disabled]="!selectedShip"
        >
          Rotate
        </button>
        <button
          mat-raised-button
          class="action-button"
          color="primary"
          (click)="handleClearAll()"
        >
          Clear all
        </button>
        <button
          mat-raised-button
          class="action-button"
          color="accent"
          [disabled]="!isShipPositionsFull()"
          (click)="handleFinishTurn()"
        >
          Confirm
        </button>
      </div>
    </div>

    <div *ngIf="isNextPlayerOpen" class="next-player-screen">
      <h2>{{ currentPlayer.name }} it's your turn! Press start</h2>
    </div>
  </div>


  <div *ngIf="isNextPlayerOpen" class="next-player-screen">
    <h2>{{ currentPlayer.name }} it's your turn! Press start</h2>
    <button mat-raised-button color="primary" (click)="closeNextPlayer()">
      Start
    </button>
  </div>

  <div *ngIf="isStartGameOpen" class="start-game-screen">
    <h2>Ready to Play the game?</h2>
    <button mat-raised-button color="primary" (click)="handleStartGame()" routerLink="/play">
      Start
    </button>
  </div>
</div>
