footer {
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;

  .footer-content {
    display: flex;
    align-items: center;

    span {
      font-size: 14px;
      margin-right: 10px;
    }

    .icon {
      margin: 0 10px;
      font-size: 14px;
      color: #333;
      cursor: pointer;
    }
  }}
