<div class="page-container">
  <div class="headings">
     <h1>Ready to set sails?</h1>
  <h2>Who will command the fleets?</h2>
  <h1 class="hide">Ready to start?</h1>
</div>

<form [formGroup]="registrationForm" novalidate (submit)="addToList()">
  <mat-form-field *ngIf="list.length < 6">
    <mat-label>Username (only letters)</mat-label>
    <input matInput formControlName="playerToAdd" [readonly]="list.length >= 6" (input)="checkInputLength()">
    <mat-error *ngIf="registrationForm.get('playerToAdd')?.hasError('required') ||  registrationForm.get('playerToAdd')?.hasError('maxlength') || registrationForm.get('playerToAdd')?.hasError('exists')">
      <ng-container *ngIf="registrationForm.get('playerToAdd')?.hasError('required')">
        Username is required
      </ng-container>

      <ng-container *ngIf="registrationForm.get('playerToAdd')?.hasError('maxlength')">
        max 20 characters
      </ng-container>
      <ng-container *ngIf="registrationForm.get('playerToAdd')?.hasError('exists')">
        Username already exists
      </ng-container>
    </mat-error>
    <mat-error *ngIf="registrationForm.get('playerToAdd')?.hasError('pattern')">Start with a character</mat-error>


  </mat-form-field>

  <div *ngIf="list.length < 6">
    <button mat-raised-button color="primary" type="button" [disabled]="registrationForm.invalid || !registrationForm.get('playerToAdd')?.value || registrationForm.get('playerToAdd')?.hasError('pattern') || registrationForm.get('playerToAdd')?.hasError('maxlength') || registrationForm.get('playerToAdd')?.hasError('exists') || disableAddButton" (click)="addToList(); registrationForm.get('playerToAdd')?.reset()">Add player</button>
  </div>
  </form>

  <ul>
    <li *ngFor="let player of list">{{player}} <button mat-icon-button color="warn" (click)="removeFromList(list.indexOf(player))"><mat-icon>clear</mat-icon></button></li>
    <div *ngIf="list.length >= 2 && list.length <= 6">
      <button mat-raised-button color="primary" type="button" class="confirm" (click)="confirmPlayers()" [disabled]="list.length < 2">
        Confirm players
      </button>
    </div>
</ul>

</div>




