<div class="grid-container">
  <app-grid-template [gridSize]="gridSize">
    <div
      *ngFor="let gridCell of grid"
      class="grid-cell"
      [ngClass]="{
        'ship-was-hit': gridCell.status === true,
        'cell-was-empty': gridCell.status === false,
        selected: gridCell === selectedCell
      }"
      (click)="gridCell.status === undefined && (selectedCell = gridCell)"
    ></div>
    <div *ngIf="!enemy" class="grid-blocked-overlay"></div>
    <div *ngIf="isGridDisabled" class="turn-finished-overlay"></div>
  </app-grid-template>

  <div *ngIf="enemy" class="grid-button">
    <ng-container *ngIf="!isGridDisabled; else finishButton">
      <button
        mat-raised-button
        color="warn"
        [disabled]="!selectedCell"
        (click)="getShotResult()"
      >
        Shoot
      </button>
    </ng-container>
    <ng-template #finishButton>
      <button mat-raised-button color="primary" (click)="handleTurnFinished()">
        Finish turn
      </button>
    </ng-template>
  </div>
</div>
