<div class="page-container">
  <div class="page-center">
    <button mat-raised-button color="primary" class="leaderboard-button" (click)="openLeaderboard()">
      <ng-icon name="tablerTrophyFilled" size="24"></ng-icon>
    </button>
    <h1 class="currentPlayerName">{{ currentPlayer.name }} is playing</h1>
    <h2 class="turn-number">Turn {{ turnNumber }}</h2>
    <div class="grids-container">
      <app-play-grid
        [enemy]="currentCoalition =='red'" [currentPlayer]="currentPlayer" [currentCoalition]="currentCoalition"
        (finishTurn)="handleFinishTurn()" [gridSize]="gridSize"
      ></app-play-grid>
      <app-play-grid
        [enemy]="currentCoalition =='blue'"  [currentPlayer]="currentPlayer" [currentCoalition]="currentCoalition"
        (finishTurn)="handleFinishTurn()" [gridSize]="gridSize"
      ></app-play-grid>
    </div>

    <div *ngIf="isNextPlayerOpen" class="next-player-screen">
      <h2>{{ currentPlayer.name }} it's your turn! Press start</h2>
      <button mat-raised-button color="primary" (click)="closeNextPlayer()">
        Start
      </button>
    </div>
  </div>
</div>

<div class="leaderboard-center" *ngIf="leaderboardOpen">

  <div  class="leaderboard-container">
    <button mat-raised-button color="primary" (click)="closeLeaderboard()">
      x
    </button>
    <div *ngFor="let player of playersLeaderboard" class="leaderboard-row">
   <span>
    {{ player.name }}
   </span>
   <span>
    {{ player.points }}
   </span>
  </div>
</div>
</div>
