<div class="page-container">
  <h1 class="currentPlayerName">{{ currentPlayer.name }} is playing</h1>
<h2 class="turn-number">Turn {{turnNumber}}</h2>
<div class="grids-container">
  <app-grid
    [enemy]="currentCoalition.id === 1"
    (finishTurn)="handleFinishTurn()"
  ></app-grid>
  <app-grid
    [enemy]="currentCoalition.id === 0"
    (finishTurn)="handleFinishTurn()"
  ></app-grid>
</div>

<div *ngIf="isNextPlayerOpen" class="next-player-screen">
  <h2>{{ currentPlayer.name }} it's your turn! Press start</h2>
  <button mat-raised-button color="primary" (click)="closeNextPlayer()">
    Start
  </button>
</div>

</div>
